.App {
  text-align: center;
  /* background-color: #5e7ebe; */
  background-image: url('./College-HMC.jpg');
  background-color: rgba(86, 211, 190, 0.336);
  background-blend-mode: overlay;
  background-position: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
  padding: 50px;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  
}

h1 {
  font-size: 4em;
}

body > .grid {
  height: 100%;
}
.image {
  margin-top: -100px;
}
.column {
  max-width: 450px;
  background-color: #1386d3;
}